<?xml version="1.0"?>
<!--

    Licensed to the OpenIO.Net under one or more
    contributor license agreements. See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License. You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8" />
    <property name="fileExtensions" value="java, properties" />
    <property name="localeCountry" value="CN" />
    <property name="localeLanguage" value="zh" />

    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="^(module|package)\-info\.java$" />
    </module>
    <module name="SuppressWarningsFilter" />
    <module name="SuppressionFilter">
        <property name="file" value="suppressions.xml"/>
    </module>
    <module name="NewlineAtEndOfFile" />
    <module name="FileLength">
        <property name="max" value="1500" />
    </module>
    <module name="TreeWalker">

        <!-- https://checkstyle.org/config_annotation.html -->
        <module name="SuppressWarningsHolder" />
        <module name="MissingOverride" />

        <!-- https://checkstyle.org/config_blocks.html -->
        <module name="AvoidNestedBlocks" />
        <module name="EmptyBlock">
            <property name="option" value="text" />
        </module>
        <module name="EmptyCatchBlock" />
        <module name="LeftCurly" />
        <module name="RightCurly">
            <property name="id" value="RightCurlySame" />
            <property name="option" value="same" />
            <property name="tokens" value="LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_DO" />
        </module>
        <module name="RightCurly">
            <property name="id" value="RightCurlyAlone" />
            <property name="option" value="alone" />
            <property name="tokens" value="CLASS_DEF , METHOD_DEF , CTOR_DEF , LITERAL_FOR , LITERAL_WHILE , STATIC_INIT , INSTANCE_INIT , ANNOTATION_DEF , ENUM_DEF" />
        </module>

        <!-- https://checkstyle.org/config_design.html -->
        <module name="FinalClass" />
        <module name="InterfaceIsType" />

        <!-- https://checkstyle.org/config_coding.html -->
        <module name="DefaultComesLast" />
        <module name="EmptyStatement" />
        <module name="EqualsHashCode" />
        <module name="FallThrough" />
        <module name="InnerAssignment" />
        <module name="MissingSwitchDefault" />
        <module name="NestedForDepth">
            <property name="max" value="2" />
            <message key="nested.for.depth" value="Except for the outermost for, nesting up to {1,number,integer} layers is allowed, currently {0,number,integer} layers" />
        </module>
        <module name="NestedIfDepth">
            <property name="max" value="2" />
            <message key="nested.if.depth" value="Nested layers of {1,number,integer} are allowed except for the outermost if, which is currently {0,number,integer}." />
        </module>
        <module name="NestedTryDepth">
            <property name="max" value="2" />
            <message key="nested.try.depth" value="Nested layers of {1,number,integer} are allowed except for the outermost if, which is currently {0,number,integer}." />
        </module>
        <module name="OneStatementPerLine" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="SuperClone" />
        <module name="SuperFinalize" />

        <!-- https://checkstyle.org/config_imports.html -->
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />

        <!-- https://checkstyle.org/config_misc.html -->
        <module name="ArrayTypeStyle" />
        <module name="UncommentedMain">
            <property name="excludedClasses" value=".*Application$" />
        </module>
        <module name="UpperEll" />

        <module name="RedundantModifier" />

        <!-- https://checkstyle.org/config_naming -->
        <module name="AbstractClassName">
            <property name="format" value="^(Abstract|Base)[A-Z][a-zA-Z0-9]*$" />
            <property name="ignoreModifier" value="true" />
            <message key="name.invalidPattern" value="Abstract class naming starts with Abstract or Base" />
        </module>
        <module name="CatchParameterName" />
        <module name="ClassTypeParameterName" />
        <module name="ConstantName" />
        <module name="InterfaceTypeParameterName" />
        <module name="LambdaParameterName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName">
            <property name="format" value="^[_a-z]([a-zA-Z0-9]+)*$" />
        </module>
        <module name="MethodTypeParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName">
            <property name="severity" value="warning" />
        </module>


        <module name="GenericWhitespace" />
        <module name="MethodParamPad" />
        <module name="NoLineWrap" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="ParenPad" />
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapNL" />
            <property name="tokens" value="DOT" />
            <property name="option" value="nl" />
        </module>
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapEOL" />
            <property name="tokens" value="COMMA, ELLIPSIS, ARRAY_DECLARATOR" />
            <property name="option" value="EOL" />
        </module>
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround" />
    </module>
</module>
